<!DOCTYPE html>
<html>
<head>
    <title>control panel</title>
    <script type="text/javascript">
        function loadXMLDoc()
        {
        var xmlhttp;
        if (window.XMLHttpRequest)
         {// code for IE7+, Firefox, Chrome, Opera, Safari
         xmlhttp=new XMLHttpRequest();
         }
        else
         {// code for IE6, IE5
         xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
         }
        xmlhttp.onreadystatechange=function()
         {
         if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
          document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
          }
         }
        xmlhttp.open("GET","log.txt",true);
        xmlhttp.send();
        }
    </script>
    <script type="text/javascript">
            setInterval(function(){
                document.getElementById('btn').onclick();
            },5000);
    </script>
</head>

<body>
<p>Please input your command:</p>

<form action="/add/" method="get">
    a: <input type="text" name="a"> <br>
    <input type="submit" value="submit">
</form>


<form id="form1">
<div id="myDiv"><h2>通过ajax改变内容</h2></div>
<button id="btn" type="button" onclick="loadXMLDoc()">通过 AJAX 改变内容(获取test1.txt上面的文本)</button>
</form>


{#<div id="myDiv"><h2>Log Here</h2></div>#}
{#<button type="button" id="myDiv" onclick="loadXMLDoc()">Refresh Log</button>#}

<!-- start sw-rss-feed code -->
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="http://news.baidu.com/n?cmd=1&class=civilnews&tn=rss";
rssfeed_frame_width="1000";
rssfeed_frame_height="450";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="http://feed.surfing-waves.com/css/style1.css";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="http://";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="http://";
rssfeed_item_title_length="50";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="http://";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="120";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="off";
rssfeed_no_items="0";
rssfeed_cache = "469b642771e1fa56635603c522053e7c";
//-->
</script>
<script type="text/javascript" src="http://feed.surfing-waves.com/js/rss-feed.js"></script>
<!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. -->
<div style="text-align:right; width:1000px;"><a href="http://www.surfing-waves.com/feed.htm" target="_blank" style="color:#ccc;font-size:10px">widget @</a> <a href="http://www.surfing-waves.com" target="_blank" style="color:#ccc;font-size:10px">surfing-waves.com</a></div>
<!-- end sw-rss-feed code -->
</body>
</html>