<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="2">
    <title>control panel</title>
    <script type="text/javascript">
        var List = {{ List|safe }};
        document.write(List);
    </script>
    <script type="text/javascript">
        function loadXMLDoc()
        {
        var xmlhttp;
        if (window.XMLHttpRequest)
         {// code for IE7+, Firefox, Chrome, Opera, Safari
         xmlhttp=new XMLHttpRequest();
         }
        else
         {// code for IE6, IE5
         xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
         }
        xmlhttp.onreadystatechange=function()
         {
         if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
          document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
          }
         }
        xmlhttp.open("GET","log.txt",true);
        xmlhttp.send();
        }
    </script>
</head>
<a href="/control/templates/control.html" >control panel</a>
<a href="/livevideo/templates/live.html" >live video</a>
<body>








</body>
</html>